@import './varsty'
@import './handler'
.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
	margin-bottom 16px
}
.el-form-item__label {
	font-size: 12px
	color: $fxBlack1
}
.el-dialog__body {
	color: $fxBlack1
}
.el-radio__label {
	font-size:12px
}
.el-popover {
	box-sizing: border-box;
}
.el-select-dropdown {
	// max-width: 280px
	.el-select-dropdown__item {
		font-size: 12px
	}
}
.el-switch.is-disabled:not(.is-checked ) {
	.el-switch__core {
		background-color: #ccc
	}
}
.el-input.is-disabled:focus {
	.el-input__inner {
		border-color: #409eff
	}
}
/*button*/
.el-button--primary {
	$fx-dynamic-theme-type(background-color)
	$fx-dynamic-theme-type(border-color)
}
/*checkbox*/
.el-checkbox__input.is-checked .el-checkbox__inner {
	$fx-dynamic-theme-type(background-color)
	$fx-dynamic-theme-type(border-color)
}
.el-checkbox__input.is-checked+.el-checkbox__label {
	$fx-dynamic-theme-type(color)
}
.el-checkbox__inner:hover {
    $fx-dynamic-theme-type(border-color)
}
/*select*/
.el-input.is-active .el-input__inner, .el-input__inner:focus {
   $fx-dynamic-theme-type(border-color)
}
.wind-select__dropdown-item.selected[data-v-62d89890] {
    $fx-dynamic-theme-type(color)
}