/*颜色变量*/
$fxGreen = #34c9ac
$fxRed = #FC4E49
$fxRed1 = #e4393c
$fxViolet = #6E49FC
$fxWhite = #fff
$fxBlack = #000
$fxBlack1 = #333
$fxBlack2 = #323233
$fxBlack3 = #666
$fxBlue = #538FFD
$fxBlueLight = #F0F5FF
$fxGray = #ccc
$fxGray1 = #f2f3f5
$fxGray2 = #FAFAFA
$fxGray3 = #e8e8e8
$fxGray4= #c8c9cc
$fxGraylight = #969799
$fxGraySimple = #F6F6F6
$fxBorder = #eee
$fxLightGray = #f2f3f5

/*默认颜色*/
$fxDefaultColor = $fxBlue
$fxPrice = $fxRed1
$fxActiveColor = $fxGray3
$fxTextColor=$fxBlack2
$fxTextDisabledColor=$fxGray4
$fxInputDisabledColor=$fxGray1
$fxItemTextColor=$fxBlack1

/*virtual-table*/
virtual-table-border=$fxBorder
virtual-table-th-background-color=$fxWhite
virtual-table-tr-color=$fxBlack1
virtual-table-tr-background-color=$fxWhite
virtual-table-tr-even-background-color=$fxGray2
virtual-table-scrollbar-background-color=$fxBlue
virtual-table-bottom-background-color=$fxWhite
