/*颜色变量*/
$fxGreen = #34c9ac
$fxRed = #FC4E49
$fxViolet = #6E49FC
$fxWhite = #fff
$fxBlack = #000
$fxBlue = #538FFD
$fxBlueLight = #F0F5FF
$fxGray = #ccc
$fxGray2 = #FAFAFA
$fxGraylight = #969799
$fxGraySimple = #F6F6F6
$fxBorder = #eee
$fxLightGray = #f2f3f5

/*默认颜色*/
$fxDefaultColor = $fxBlue
$fxPrice = #e4393c
$fxActiveColor = #e8e8e8
$fxTextColor=#323233
$fxTextDisabledColor=#c8c9cc
$fxInputDisabledColor=#f2f3f5
$fxItemTextColor=#333

/*virtual-table*/
virtual-table-border=$fxBorder
virtual-table-th-background-color=$fxWhite
virtual-table-tr-color=#666
virtual-table-tr-background-color=$fxWhite
virtual-table-tr-even-background-color=$fxGray2
virtual-table-scrollbar-background-color=$fxBlue
virtual-table-bottom-background-color=$fxWhite
