/*颜色变量*/

/*绿*/
$fxGreen1 = #34c9ac
$fxGreen2 = #60C769
$fxGreen3 = #9EC3BC
$fxGreen4 = #4b7653
$fxGreen5 = #70B603

/*红*/
$fxRed = #FC4E49
$fxRed2 = #ED4F31
$fxRed3 = #AE6C70
$fxRed4 = #F47D7E
$fxRed5 = #EF8F8E
$fxRed6 = #d9001b

/*紫*/
$fxViolet = #CFA3FD
$fxViolet1 = #A07F9C
$fxViolet2 = #C280FF

/*白*/
$fxWhite = #fff
$fxWhite1 = #F2F7FA
$fxWhite2 = #F7F8FA

/*黑*/
$fxBlack = #000
$fxBlack1 = #333
$fxBlack2 = #666
$fxBlack3 = #484848
$fxBlack4 = #313139

/*蓝*/
$fxBlue = #538FFD
$fxBlue1 = #409eff
$fxBlue2 = #8C9DBB
$fxBlue4 = #4AA5FF
$fxBlue5 = #318cf2
$fxBlue6 = #464D6F
$fxBlue7 = #96C0FA
$fxBlue8 = #d7e2ef
$fxBlue9 = #E8F2FC
$fxBlue10 = #EDF6FF
$fxBlue11 = #B8D7FA
$fxBlue12 = #EDF6FF

/*灰*/
$fxGray1 = #ccc
$fxGray2 = #F4F8FC
$fxGray3 = #DBDBDB
$fxGray4 = #999999
$fxGray5 = #eee
$fxGray6 = #595959
$fxGray7 = #e8f0f9
$fxGray8 = #bababa
$fxGray9 = #555656

/*橘*/
$fxOrange1 = #f19149
$fxOrange2 = #F14A46
$fxOrange3 = #F8D695
$fxOrange4 = #F59A23

/*黄*/
$fxYellow1 = #ffd04b

/*深褐色*/
$fxPuce = #7A9DB3

/*粉*/
$fxPink = #C7A099

/*高亮*/
$fxLightBlue1 = rgba(64, 158, 255, 0.9)
$fxLightBlue4 = #4aa5ffd4
$fxLightPuce = rgba(122, 157, 179, 0.9)
$fxLightPink = rgba(199,160,153, 0.9)
$fxLightViolet1 = rgba(160,127,156, 0.9)
$fxLightGreen3 = rgba(158,195,188, 0.9)
$fxLightBlue2 = rgba(140,157,187, 0.9)
$fxLightRed3 = rgba(174,108,112, 0.9)
$fxLightRed4 = #f47d7ed4

$fxBorder = #eee
$fxElementBorder = #EBEEF5

/*默认颜色*/
$fxDefaultColor = $fxBlue
$fxPrice = $fxRed

/*通用样式变量 fx-${组件名称}-${功能名称}*/
$fx-filterBar-formInputWidth = 150px
