@import './varsty'
.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
	margin-bottom 16px
}
.el-form-item__label {
	font-size: 12px
	color: $fxBlack1
}
.el-dialog__body {
	color: $fxBlack1
}
.el-radio__label {
	font-size:12px
}
.el-popover {
	box-sizing: border-box;
}
.el-select-dropdown {
	// max-width: 280px
	.el-select-dropdown__item {
		font-size: 12px
	}
}
.el-switch.is-disabled:not(.is-checked ) {
	.el-switch__core {
		background-color: #ccc
	}
}
.el-input.is-disabled:focus {
	.el-input__inner {
		border-color: #409eff
	}
}