@import '~$assets/stylus/varsty.styl'
/*wind-ui颜色*/
// {{{ wind-app-container
$wind-app-container-background-color=$fxWhite
// }}}
// {{{ collapse
$wind-collapse-background-color=$fxWhite
$wind-collapse-icon-background-color=$fxGreen
$wind-collapse-bord-color=$fxGray3
// }}}
// {{{ link
$wind-link-color-primary=$fxBlue
$wind-link-color-danger=$fxRed2
// }}}
// {{{ switch
$wind-switch-lable-color=$fxWhite
/// }}}

/// {{{ wind-validate
$wind-validate-popover-color=$fxWhite
$wind-validate-popover-background-color=$fxRed
/// }}}

/// {{{ wind-index-list
$wind-index-list-letter-active-color=$fxDefaultColor
$wind-index-list-letter-not-exist-color=$fxGray4
/// }}}

/// {{{ wind-tree
$wind-tree-empty-text-color=$fxGray4
/// }}}