.el-form-item__label {
	font-size: 12px
}
.el-radio__label {
	font-size:12px
}
.el-popover {
	box-sizing: border-box;
}
.el-select-dropdown {
	// max-width: 280px
	.el-select-dropdown__item {
		font-size: 12px
	}
}
.el-switch.is-disabled:not(.is-checked ) {
	.el-switch__core {
		background-color: #ccc
	}
}
.el-input.is-disabled:focus {
	.el-input__inner {
		border-color: #409eff
	}
}
.el-loading-parent--relative .el-loading-mask.is-fullscreen {
	background-color: rgba(48, 49, 51, 0.01) !important
	transition: opacity 0s
}